### Importing modules

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

#### Importing Datasets

In [8]:
confirmed_cases = pd.read_excel('covid_19_dataset.xlsx', sheet_name='covid_19_confirmed_v1')
death_cases = pd.read_excel('covid_19_dataset.xlsx', sheet_name='covid_19_deaths_v1')
recovered_cases = pd.read_excel('covid_19_dataset.xlsx', sheet_name='covid_19_recovered_v1')

In [20]:
# Check heads
recovered_cases.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55687,55790,55889,56035,56295,56518,56711,56962,57119,57281
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,127869,128425,128601,128732,128826,128907,128978,129042,129097,129215
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,87902,88066,88208,88346,88497,88672,88861,89040,89232,89419
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,13234,13234,13234,13234,13234,13263,13381,13405,13416,13416
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,26483,26513,26775,26778,27087,27204,27467,27529,27577,27646

In [21]:
recovered_cases.columns

Index(['Province/State', 'Country/Region',            'Lat',           'Long',
              '1/22/20',        '1/23/20',        '1/24/20',        '1/25/20',
              '1/26/20',        '1/27/20',
       ...
              '5/20/21',        '5/21/21',        '5/22/21',        '5/23/21',
              '5/24/21',        '5/25/21',        '5/26/21',        '5/27/21',
              '5/28/21',        '5/29/21'],
      dtype='object', length=498)

In [24]:
# renaming the column names
rename_dict={
    'Province/State':'Provinces',
    'Country/Region': 'Country'
}
recovered_cases.rename(columns=rename_dict,inplace=True)
death_cases.rename(columns=rename_dict,inplace=True)
confirmed_cases.rename(columns=rename_dict,inplace=True)

In [27]:
recovered_cases.columns,death_cases.columns,confirmed_cases.columns

(Index(['Provinces',   'Country',       'Lat',      'Long',   '1/22/20',
          '1/23/20',   '1/24/20',   '1/25/20',   '1/26/20',   '1/27/20',
        ...
          '5/20/21',   '5/21/21',   '5/22/21',   '5/23/21',   '5/24/21',
          '5/25/21',   '5/26/21',   '5/27/21',   '5/28/21',   '5/29/21'],
       dtype='object', length=498),
 Index(['Provinces',   'Country',       'Lat',      'Long',   '1/22/20',
          '1/23/20',   '1/24/20',   '1/25/20',   '1/26/20',   '1/27/20',
        ...
          '5/20/21',   '5/21/21',   '5/22/21',   '5/23/21',   '5/24/21',
          '5/25/21',   '5/26/21',   '5/27/21',   '5/28/21',   '5/29/21'],
       dtype='object', length=498),
 Index(['Provinces',   'Country',       'Lat',      'Long',   '1/22/20',
          '1/23/20',   '1/24/20',   '1/25/20',   '1/26/20',   '1/27/20',
        ...
          '5/20/21',   '5/21/21',   '5/22/21',   '5/23/21',   '5/24/21',
          '5/25/21',   '5/26/21',   '5/27/21',   '5/28/21',   '5/29/21'],
       dtype='object', length=498))

In [31]:
# Check shape
print('Confirmed Cases Shape: ',confirmed_cases.shape)
print('Death Cases Shape: ',death_cases.shape)
print('Recovered Cases Shape: ',recovered_cases.shape)

Confirmed Cases Shape:  (276, 498)
Death Cases Shape:  (276, 498)
Recovered Cases Shape:  (261, 498)